data/rates.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rates">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:dateTime" name="timestamp"/>
        <xs:element name="curr" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="name" name="loc" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="code" name="code" use="optional"/>
            <xs:attribute type="rate" name="rate" use="optional"/>
            <xs:attribute type="name" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="unique-code">
      <xs:selector xpath="curr"/>
      <xs:field xpath="@code"/>
   </xs:unique>
  </xs:element>

  <xs:simpleType name="name">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z .'-]{3,50}" />
      <xs:minLength value="3" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="code">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z][a-zA-Z][a-zA-Z]" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="rate">
    <xs:restriction base="xs:float" />
  </xs:simpleType>

  
</xs:schema>